@charset "UTF-8";
/*-------------------------------------------------------------------------------------------
------------------------------------------ЦВЕТА----------------------------------------------
-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------
------------------------------------------ШРИФТЫ---------------------------------------------
-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------
-----------------------------------------ПЕРЕМЕННЫЕ------------------------------------------
-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------
-----------------------------------СТАНДАРТНЫЕ НАСТРОЙКИ-------------------------------------
-------------------------------------------------------------------------------------------*/
html,
body {
  height: 100%;
}

.body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187.5%;
  color: #0b132a;
}
@media (max-width: 1022px) {
  .body {
    font-size: 14px;
  }
}
.body._lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

div[class*=__container] {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
}
@media (max-width: 1170px) {
  div[class*=__container] {
    max-width: 1022px;
  }
}
@media (max-width: 1022px) {
  div[class*=__container] {
    max-width: 798px;
  }
}
@media (max-width: 798px) {
  div[class*=__container] {
    max-width: 606px;
  }
}
@media (max-width: 606px) {
  div[class*=__container] {
    max-width: none;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px #f53855 solid;
  border-radius: 50px;
  background-color: #fff;
  transition: all 0.2s ease;
  font-weight: 500;
  color: #f53855 !important;
}
@media (min-width: 768px) {
  .button:hover {
    background-color: #f53838;
    color: #fff !important;
  }
}

.button-rectangular {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px #f53855 solid;
  border-radius: 10px;
  background-color: #f53855;
  transition: all 0.2s ease;
  font-weight: 700;
  color: #fff;
  padding: 10px 20px;
  min-width: 250px;
  height: 60px;
  position: relative;
}
.button-rectangular:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 212px;
  filter: blur(30px);
  height: 76px;
  background-color: rgba(245, 56, 85, 0.35);
  top: 8px;
  left: auto;
  right: auto;
  transition: all 0.3s ease;
}
@media (max-width: 1022px) {
  .button-rectangular:after {
    width: 180px;
    height: 60px;
    filter: blur(20px);
  }
}
@media (max-width: 606px) {
  .button-rectangular:after {
    width: 150px;
    height: 55px;
    filter: blur(20px);
  }
}
@media (hover: hover) {
  .button-rectangular:hover {
    background-color: #fff;
    color: #f53855;
  }
  .button-rectangular:hover::after {
    top: 0;
  }
}
@media (max-width: 1022px) {
  .button-rectangular {
    min-width: 200px;
    height: 50px;
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------HEADER---------------------------------------------
-------------------------------------------------------------------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.2s ease, transform 0.5s ease;
}
.header._hide {
  transform: translateY(-100%);
}
.header._scroll {
  background-color: rgba(193, 4, 33, 0.9);
}
.header._scroll .menu__link {
  color: #eee;
}
.header._scroll .menu__link:hover {
  color: #ccc;
}
.header._scroll .header__button:hover {
  color: #ffffff;
}
.header._scroll .header__button.button {
  color: #eee;
  border-color: #eee;
}
.header._scroll .header__button.button:hover {
  background-color: #eee;
  color: #c10421;
}
.header._scroll .header__logo path:nth-child(2) {
  fill: white;
}
.header._scroll .header__logo:hover path:nth-child(2) {
  fill: #ddd;
}
.header__icon {
  display: none;
}
@media (max-width: 798px) {
  .header__icon {
    display: block;
    z-index: 5;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .header__icon::before, .header__icon::after,
  .header__icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s;
    background-color: #c10421;
  }
  .header__icon::before, .header__icon::after {
    content: "";
  }
  .header__icon::before {
    top: 0;
  }
  .header__icon::after {
    bottom: 0;
  }
  .header__icon span {
    top: 50%;
    transform: translateY(-50%) scale(1);
  }
  .header__icon._active span {
    transform: scale(0);
  }
  .header__icon._active::before {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  .header__icon._active::after {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
  }
}
.header__container {
  min-height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1022px) {
  .header__container {
    min-height: 100px;
  }
}
@media (max-width: 798px) {
  .header__container {
    min-height: 60px;
  }
}
.header__logo {
  width: 150px;
  display: flex;
  align-items: center;
}
.header__logo svg {
  width: 100%;
}
@media (max-width: 1022px) {
  .header__logo {
    width: 130px;
  }
}
@media (max-width: 798px) {
  .header__logo path:nth-child(1) {
    fill: #eee;
  }
  .header__logo {
    margin-bottom: 40px;
    width: 150px;
  }
}
.header__logo path {
  transition: all 0.2s ease;
}
@media (min-width: 992px) {
  .header__logo:hover path:nth-child(2) {
    fill: #c10421;
  }
  .header__logo:hover path:nth-child(1) {
    transform: translateX(-4px);
  }
}
.header__buttons {
  align-items: center;
}
@media (max-width: 798px) {
  .header__buttons {
    display: flex;
    align-items: start;
    gap: 0px;
    flex-direction: column;
  }
}
.header__button {
  font-weight: 500;
  min-width: 150px;
  height: 45px;
  padding: 10px 15px;
  color: #0b132a;
  transition: all 0.3s ease;
}
@media (min-width: 992px) {
  .header__button:hover {
    color: #4f5665;
  }
}
@media (max-width: 1022px) {
  .header__button {
    min-width: 110px;
    height: 35px;
    font-size: 14px;
  }
}
@media (max-width: 798px) {
  .header__button {
    min-width: 0;
    height: auto;
    color: #eee;
    background-color: transparent;
    padding: 0;
    font-size: 18px;
  }
  .header__button.button {
    border: none;
    padding: 0;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 1022px) {
  .menu__list {
    gap: 20px;
  }
}
@media (max-width: 798px) {
  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 40px;
  }
}
.menu__link {
  color: #4f5665;
}
@media (min-width: 1022px) {
  .menu__link:hover {
    color: #0b132a;
  }
  .menu__link {
    font-size: 14px;
  }
}
@media (max-width: 798px) {
  .menu__link {
    font-size: 18px;
    color: #eee;
  }
}
@media (max-width: 798px) {
  .menu {
    max-width: none !important;
    overflow: auto;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 20px 20px 30px !important;
    transition: left 0.3s ease;
  }
  .menu._active {
    left: 0;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------PREVIEW---------------------------------------------
-------------------------------------------------------------------------------------------*/
.preview {
  min-height: max(100vh, 700px);
}
@media (max-width: 1170px) {
  .preview {
    min-height: max(100vh, 600px);
  }
}
@media (max-width: 1022px) {
  .preview {
    min-height: max(100vh, 500px);
  }
}
@media (max-width: 798px) {
  .preview {
    min-height: 750px;
  }
}
@media (max-width: 450px) {
  .preview {
    min-height: 650px;
  }
}
.preview {
  display: flex;
  align-items: center;
}
.preview__container {
  display: flex;
  gap: 40px;
  align-items: center;
}
@media (max-width: 798px) {
  .preview__container {
    flex-direction: column-reverse;
  }
}
.preview__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 1 50%;
}
.preview__title {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 140%;
}
.preview__title span {
  font-weight: 700;
}
@media (max-width: 1170px) {
  .preview__title {
    font-size: 42px;
  }
}
@media (max-width: 1022px) {
  .preview__title {
    font-size: 32px;
    margin-bottom: 10px;
  }
}
.preview__text span {
  font-weight: 500;
}
.preview__text {
  color: #4f5665;
  margin-bottom: 50px;
}
@media (max-width: 1022px) {
  .preview__text {
    margin-bottom: 30px;
  }
}
.preview__image {
  flex: 0 1 50%;
}
.preview__image svg {
  width: 100%;
}
.preview__image ellipse.ellipse-animation {
  animation: smoothBg 1s infinite alternate;
}
@keyframes smoothBg {
  0% {
    fill: #ff7979;
  }
  100% {
    fill: #9effae;
  }
}
.preview__image path.cup-animation {
  animation: steamMove 3s ease-in-out infinite;
}
@keyframes steamMove {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  20% {
    opacity: 0.8;
    transform: translateY(0px);
  }
  80% {
    opacity: 0.6;
    transform: translateY(-5px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------STATS---------------------------------------------
-------------------------------------------------------------------------------------------*/
.stats__container {
  border-radius: 10px;
  box-shadow: 0px 15px 30px rgba(13, 16, 37, 0.06);
  height: 200px;
  display: flex;
  align-items: center;
  padding: 35px 0;
}
@media (max-width: 1022px) {
  .stats__container {
    height: 160px;
  }
}
@media (max-width: 798px) {
  .stats__container {
    height: 120px;
  }
}
@media (max-width: 606px) {
  .stats__container {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    height: auto;
    padding: 0px 30px !important;
    width: 90%;
  }
}
.stats__item {
  flex: 0 1 33.333%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.stats__item:not(:last-child) {
  border-right: 1px solid #eeeff2;
}
@media (max-width: 606px) {
  .stats__item:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid #eeeff2;
  }
}
@media (max-width: 1022px) {
  .stats__item {
    gap: 20px;
  }
}
@media (max-width: 798px) {
  .stats__item {
    gap: 15px;
  }
}
@media (max-width: 606px) {
  .stats__item {
    padding: 15px 0;
    width: 100%;
    justify-content: flex-start;
  }
}
.stats__icon {
  width: 55px;
  height: 55px;
}
@media (max-width: 1022px) {
  .stats__icon {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 798px) {
  .stats__icon {
    width: 35px;
    height: 35px;
  }
}
.stats__icon svg {
  width: 100%;
}
.stats__num {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 4.5px;
}
@media (max-width: 1022px) {
  .stats__num {
    font-size: 18px;
    margin-bottom: 0;
  }
}
@media (max-width: 798px) {
  .stats__num {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 5px;
  }
}
.stats__text {
  font-size: 20px;
  color: #4f5665;
}
@media (max-width: 1022px) {
  .stats__text {
    font-size: 14px;
  }
}
@media (max-width: 798px) {
  .stats__text {
    font-size: 12px;
    line-height: 1;
  }
}