@charset "UTF-8";
/*-------------------------------------------------------------------------------------------
------------------------------------------ЦВЕТА----------------------------------------------
-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------
------------------------------------------ШРИФТЫ---------------------------------------------
-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------
-----------------------------------------ПЕРЕМЕННЫЕ------------------------------------------
-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------
-----------------------------------СТАНДАРТНЫЕ НАСТРОЙКИ-------------------------------------
-------------------------------------------------------------------------------------------*/
html,
body {
  height: 100%;
}

.body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187.5%;
  color: #4f5665;
}
@media (max-width: 1022px) {
  .body {
    font-size: 14px;
  }
}
.body._lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

div[class*=__container] {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
}
@media (max-width: 1170px) {
  div[class*=__container] {
    max-width: 1022px;
  }
}
@media (max-width: 1022px) {
  div[class*=__container] {
    max-width: 798px;
  }
}
@media (max-width: 798px) {
  div[class*=__container] {
    max-width: 606px;
  }
}
@media (max-width: 606px) {
  div[class*=__container] {
    max-width: none;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px #f53855 solid;
  border-radius: 50px;
  background-color: #fff;
  transition: all 0.2s ease;
  font-weight: 500;
  color: #f53855 !important;
}
@media (min-width: 768px) and (hover: hover) {
  .button:hover {
    background-color: #f53838;
    color: #fff !important;
  }
}

.button-rectangular {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px #f53855 solid;
  border-radius: 10px;
  background-color: #f53855;
  transition: all 0.2s ease;
  font-weight: 700;
  color: #fff;
  padding: 10px 20px;
  min-width: 250px;
  height: 60px;
  position: relative;
}
.button-rectangular:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 212px;
  filter: blur(30px);
  height: 76px;
  background-color: rgba(245, 56, 85, 0.35);
  top: 8px;
  left: auto;
  right: auto;
  transition: all 0.3s ease;
}
@media (max-width: 1022px) {
  .button-rectangular:after {
    width: 180px;
    height: 60px;
    filter: blur(20px);
  }
}
@media (max-width: 606px) {
  .button-rectangular:after {
    width: 150px;
    height: 55px;
    filter: blur(20px);
  }
}
@media (hover: hover) {
  .button-rectangular:hover {
    background-color: #fff;
    color: #f53855;
  }
  .button-rectangular:hover::after {
    top: 0;
  }
}
@media (max-width: 1022px) {
  .button-rectangular {
    min-width: 200px;
    height: 50px;
  }
}

.title {
  font-size: 35px;
  color: #0d1025;
  line-height: 142.8571428571%;
  font-weight: 500;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 1022px) {
  .title {
    font-size: 28px;
  }
}
@media (max-width: 798px) {
  .title {
    font-size: 22px;
  }
}

.subtitle {
  margin: auto;
  text-align: center;
  max-width: 500px;
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------HEADER---------------------------------------------
-------------------------------------------------------------------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.2s ease, transform 0.5s ease;
}
.header._hide {
  transform: translateY(-100%);
}
.header._scroll {
  background-color: rgba(193, 4, 33, 0.9);
}
.header._scroll .menu__link {
  color: #eee;
}
@media (hover: hover) {
  .header._scroll .menu__link:hover {
    color: #ccc;
  }
}
@media (hover: hover) {
  .header._scroll .header__button:hover {
    color: #ffffff;
  }
}
.header._scroll .header__button.button {
  color: #c10421 !important;
  border-color: #eee !important;
  background-color: #eee !important;
}
@media (hover: hover) {
  .header._scroll .header__button.button:hover {
    background-color: rgba(193, 4, 32, 0.1568627451) !important;
    color: #eee !important;
  }
}
.header._scroll .header__logo path:nth-child(2) {
  fill: white;
}
@media (hover: hover) {
  .header._scroll .header__logo:hover path:nth-child(2) {
    fill: #ddd;
  }
}
.header__icon {
  display: none;
}
@media (max-width: 798px) {
  .header__icon {
    display: block;
    z-index: 5;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .header__icon::before, .header__icon::after,
  .header__icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s;
    background-color: #c10421;
  }
  .header__icon::before, .header__icon::after {
    content: "";
  }
  .header__icon::before {
    top: 0;
  }
  .header__icon::after {
    bottom: 0;
  }
  .header__icon span {
    top: 50%;
    transform: translateY(-50%) scale(1);
  }
  .header__icon._active span {
    transform: scale(0);
  }
  .header__icon._active::before {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  .header__icon._active::after {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
  }
}
.header__container {
  min-height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1022px) {
  .header__container {
    min-height: 100px;
  }
}
@media (max-width: 798px) {
  .header__container {
    min-height: 60px;
  }
}
.header__logo {
  width: 150px;
  display: flex;
  align-items: center;
}
.header__logo svg {
  width: 100%;
}
@media (max-width: 1022px) {
  .header__logo {
    width: 130px;
  }
}
@media (max-width: 798px) {
  .header__logo path:nth-child(1) {
    fill: #eee;
  }
  .header__logo {
    margin-bottom: 40px;
    width: 150px;
  }
}
.header__logo path {
  transition: all 0.2s ease;
}
@media (min-width: 992px) and (hover: hover) {
  .header__logo:hover path:nth-child(2) {
    fill: #c10421;
  }
  .header__logo:hover path:nth-child(1) {
    transform: translateX(-4px);
  }
}
.header__buttons {
  align-items: center;
}
@media (max-width: 798px) {
  .header__buttons {
    display: flex;
    align-items: start;
    gap: 0px;
    flex-direction: column;
  }
}
.header__button {
  font-weight: 500;
  min-width: 150px;
  height: 45px;
  padding: 10px 15px;
  color: #4f5665;
  transition: all 0.3s ease;
  color: #0d1025;
}
@media (min-width: 992px) and (hover: hover) {
  .header__button:hover {
    color: #4f5665;
  }
}
@media (max-width: 1022px) {
  .header__button {
    min-width: 110px;
    height: 35px;
    font-size: 14px;
  }
}
@media (max-width: 798px) {
  .header__button {
    min-width: 0;
    height: auto;
    color: #eee;
    background-color: transparent;
    padding: 0;
    font-size: 18px;
  }
  .header__button.button {
    border: none;
    padding: 0;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 1022px) {
  .menu__list {
    gap: 20px;
  }
}
@media (max-width: 798px) {
  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 40px;
  }
}
.menu__link {
  color: #4f5665;
}
@media (min-width: 1022px) {
  .menu__link {
    font-size: 14px;
  }
}
@media (min-width: 1022px) and (hover: hover) {
  .menu__link:hover {
    color: #0d1025;
  }
}
@media (max-width: 798px) {
  .menu__link {
    font-size: 18px;
    color: #eee;
  }
}
@media (max-width: 798px) {
  .menu {
    max-width: none !important;
    overflow: auto;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 20px 20px 30px !important;
    transition: left 0.3s ease;
  }
  .menu._active {
    left: 0;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------PREVIEW---------------------------------------------
-------------------------------------------------------------------------------------------*/
.preview {
  min-height: max(100vh, 700px);
}
@media (max-width: 1170px) {
  .preview {
    min-height: max(100vh, 600px);
  }
}
@media (max-width: 1022px) {
  .preview {
    min-height: max(100vh, 500px);
  }
}
@media (max-width: 798px) {
  .preview {
    min-height: max(100vh, 750px);
  }
}
@media (max-width: 450px) {
  .preview {
    min-height: max(100vh, 650px);
  }
}
.preview {
  display: flex;
  align-items: center;
}
.preview__container {
  display: flex;
  gap: 40px;
  align-items: center;
}
@media (max-width: 798px) {
  .preview__container {
    flex-direction: column-reverse;
  }
}
.preview__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 1 50%;
}
.preview__title {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 140%;
  color: #0d1025;
}
.preview__title span {
  font-weight: 700;
}
@media (max-width: 1170px) {
  .preview__title {
    font-size: 42px;
  }
}
@media (max-width: 1022px) {
  .preview__title {
    font-size: 32px;
    margin-bottom: 10px;
  }
}
.preview__text span {
  font-weight: 500;
}
.preview__text {
  color: #4f5665;
  margin-bottom: 50px;
}
@media (max-width: 1022px) {
  .preview__text {
    margin-bottom: 30px;
  }
}
.preview__image {
  flex: 0 1 50%;
}
.preview__image svg {
  width: 100%;
}
.preview__image ellipse.ellipse-animation {
  animation: smoothBg 1s infinite alternate;
}
@keyframes smoothBg {
  0% {
    fill: #ff7979;
  }
  100% {
    fill: #9effae;
  }
}
.preview__image path.cup-animation {
  animation: steamMove 3s ease-in-out infinite;
}
@keyframes steamMove {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  20% {
    opacity: 0.8;
    transform: translateY(0px);
  }
  80% {
    opacity: 0.6;
    transform: translateY(-5px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------STATS---------------------------------------------
-------------------------------------------------------------------------------------------*/
.stats__container {
  border-radius: 10px;
  box-shadow: 0px 15px 30px rgba(13, 16, 37, 0.06);
  height: 200px;
  display: flex;
  align-items: center;
  padding: 35px 0;
}
@media (max-width: 1022px) {
  .stats__container {
    height: 160px;
  }
}
@media (max-width: 798px) {
  .stats__container {
    height: 120px;
  }
}
@media (max-width: 606px) {
  .stats__container {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    height: auto;
    padding: 0px 30px !important;
    width: 90%;
  }
}
.stats__item {
  flex: 0 1 33.333%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.stats__item:not(:last-child) {
  border-right: 1px solid #eeeff2;
}
@media (max-width: 606px) {
  .stats__item:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid #eeeff2;
  }
}
@media (max-width: 1022px) {
  .stats__item {
    gap: 20px;
  }
}
@media (max-width: 798px) {
  .stats__item {
    gap: 15px;
  }
}
@media (max-width: 606px) {
  .stats__item {
    padding: 15px 0;
    width: 100%;
    justify-content: flex-start;
  }
}
.stats__icon {
  width: 55px;
  height: 55px;
}
@media (max-width: 1022px) {
  .stats__icon {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 798px) {
  .stats__icon {
    width: 35px;
    height: 35px;
  }
}
.stats__icon svg {
  width: 100%;
}
.stats__num {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 4.5px;
  color: #0d1025;
}
@media (max-width: 1022px) {
  .stats__num {
    font-size: 18px;
    margin-bottom: 0;
  }
}
@media (max-width: 798px) {
  .stats__num {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 5px;
  }
}
.stats__text {
  font-size: 20px;
  color: #4f5665;
}
@media (max-width: 1022px) {
  .stats__text {
    font-size: 14px;
  }
}
@media (max-width: 798px) {
  .stats__text {
    font-size: 12px;
    line-height: 1;
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------FEATURES---------------------------------------------
-------------------------------------------------------------------------------------------*/
.features {
  padding: 100px 0 130px;
}
@media (max-width: 798px) {
  .features {
    padding: 60px 0;
  }
}
.features__container {
  display: flex;
  align-items: center;
  gap: 14.9122807018%;
}
@media (max-width: 798px) {
  .features__container {
    flex-direction: column;
    gap: 40px;
  }
}
.features__image {
  flex: 0 1 55%;
}
.features__image svg {
  width: 100%;
}
.features__body {
  flex: 0 1 45%;
}
.features__title {
  margin-bottom: 20px;
  text-align: left;
}
.features__text {
  margin-bottom: 20px;
}
.features__menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.features__item {
  padding-left: 34px;
  position: relative;
}
.features__item:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url(../img/features/icon.svg);
}
.features__link {
  font-size: 14px;
  color: #4f5665;
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------PRICING---------------------------------------------
-------------------------------------------------------------------------------------------*/
.pricing {
  padding: 80px 0px 150px;
  background: linear-gradient(#fafafa, #fdfdfd);
}
@media (max-width: 1022px) {
  .pricing {
    padding: 60px 0px;
  }
}
.pricing__subtitle {
  margin-bottom: 60px;
}
.pricing__body {
  display: flex;
  align-items: stretch;
  gap: 50px;
}
@media (max-width: 1430px) {
  .pricing__body {
    gap: 20px;
  }
}
@media (max-width: 1022px) {
  .pricing__body {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.body-pricing__item {
  flex: 0 1 33.333%;
  border-radius: 10px;
  background-color: #fff;
  border: 1px #ddd solid;
  padding: 80px 70px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 760px;
  transition: all 0.2s ease;
}
@media (max-width: 1430px) {
  .body-pricing__item {
    padding: 60px 50px 30px;
    min-height: 500px;
  }
}
@media (max-width: 1022px) {
  .body-pricing__item {
    flex: 0 1 auto;
    max-width: 300px;
    padding: 30px;
  }
}
@media (hover: hover) {
  .body-pricing__item:hover {
    border-color: #f53838;
  }
  .body-pricing__item:hover .body-pricing__button {
    background-color: #f53838 !important;
    color: #fff !important;
    box-shadow: 0px 17px 40px rgba(245, 56, 56, 0.35);
  }
}
@media (hover: hover) and (hover: hover) {
  .body-pricing__item:hover .body-pricing__button:hover {
    box-shadow: none;
    color: #f53838 !important;
    background-color: #fff !important;
  }
}
.body-pricing__image {
  width: 70%;
}
.body-pricing__image svg {
  width: 100%;
}
.body-pricing__image {
  margin-bottom: 30px;
}
.body-pricing__title {
  font-size: 18px;
  font-weight: 500;
  color: #0d1025;
  margin-bottom: 30px;
}
.body-pricing__list {
  margin-bottom: 20px;
}
.body-pricing__text {
  font-size: 14px;
  margin-bottom: 10px;
  padding-left: 44px;
  position: relative;
}
.body-pricing__text:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url(../img/pricing/icon.svg);
}
.body-pricing__price {
  font-size: 25px;
  font-weight: 500;
  color: #0d1025;
  margin-bottom: 20px;
  margin-top: auto;
}
.body-pricing__price span {
  font-weight: 400;
}
@media (max-width: 1430px) {
  .body-pricing__price {
    font-size: 22px;
  }
}
.body-pricing__button {
  width: 90%;
  height: 45px;
}
@media (hover: hover) {
  .body-pricing__button:hover {
    box-shadow: 0px 17px 40px rgba(245, 56, 56, 0.35);
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------NETWORK---------------------------------------------
-------------------------------------------------------------------------------------------*/
.network {
  background: linear-gradient(#fdfdfd, #fff);
}
.network__title {
  max-width: 360px;
}
.network__subtitle {
  margin-bottom: min(155px, 13.5964912281vw);
}
.network__image {
  width: 100%;
}
.network__image svg {
  width: 100%;
}
.network__image svg circle,
.network__image svg g {
  transition: all 0.2s ease;
}
@media (hover: hover) {
  .network__image svg circle:hover,
  .network__image svg g:hover {
    opacity: 0.5;
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------PLATFORMS---------------------------------------------
-------------------------------------------------------------------------------------------*/
.platforms {
  padding: 80px 100px;
}
@media (max-width: 798px) {
  .platforms {
    padding: 30px 0;
  }
}
.platforms__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4vw;
}
.platforms__image {
  flex: 0 1 20%;
}
.platforms__image svg {
  width: 100%;
}
.platforms__image g > rect {
  transition: all 0.2s ease;
}
@media (hover: hover) {
  .platforms__image:nth-child(1) g > rect:hover {
    fill: #e50914;
  }
}
@media (hover: hover) {
  .platforms__image:nth-child(2) g > rect:hover {
    fill: #ff4500;
  }
}
@media (hover: hover) {
  .platforms__image:nth-child(3) g > rect:hover {
    fill: #ff9900;
  }
}
@media (hover: hover) {
  .platforms__image:nth-child(4) g > rect:hover {
    fill: #5865f2;
  }
}
@media (hover: hover) {
  .platforms__image:nth-child(5) g > rect:hover {
    fill: #1db954;
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------TESTIMONIALS---------------------------------------------
-------------------------------------------------------------------------------------------*/
.testimonials {
  overflow-x: hidden;
  padding: 50px 0 200px;
}
@media (max-width: 1170px) {
  .testimonials {
    padding: 30px 0 160px;
  }
}
@media (max-width: 1022px) {
  .testimonials {
    padding: 20px 0 140px;
  }
}
.testimonials__subtitle {
  margin-bottom: 60px;
}
@media (max-width: 1022px) {
  .testimonials__subtitle {
    margin-bottom: 30px;
  }
}
.swiper-testimonials {
  width: 100vw; /* полная ширина окна */
  position: relative;
  left: 50%;
  transform: translateX(-50%); /* центрирование относительно окна */
  overflow: hidden; /* скрыть лишнее, если нужно */
  padding-left: calc((100vw - 100%) / 2); /* важный отступ слева */
}
.swiper-testimonials__buttons {
  display: flex;
  align-items: center;
  margin-top: 80px;
}
@media (max-width: 798px) {
  .swiper-testimonials__buttons {
    display: none;
  }
}
.swiper-testimonials__pagination {
  position: static;
  text-align: left;
}
.swiper-testimonials__pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #dde0e4;
  transition: all 0.2s ease;
}
.swiper-testimonials__pagination .swiper-pagination-bullet-active {
  background-color: #f53838;
}
.swiper-testimonials__prev {
  position: static;
  margin-left: auto;
  margin-right: 20px;
}
.swiper-testimonials__next {
  position: static;
  margin-left: auto;
}
.swiper-testimonials__prev, .swiper-testimonials__next {
  min-width: 60px;
  min-width: none;
  height: 60px;
  border-radius: 50%;
  border: 2px #f53838 solid;
  background-color: #fff;
}
.swiper-testimonials__prev svg, .swiper-testimonials__next svg {
  width: 20px;
}
.swiper-testimonials__prev, .swiper-testimonials__next {
  transition: all 0.2s ease;
}
.swiper-testimonials__prev path, .swiper-testimonials__next path {
  transition: all 0.2s ease;
}
@media (hover: hover) {
  .swiper-testimonials__prev:hover, .swiper-testimonials__next:hover {
    background-color: #f53838;
  }
  .swiper-testimonials__prev:hover path, .swiper-testimonials__next:hover path {
    fill: #fff;
  }
}

.slide-testimonials {
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px #ddd solid;
  transition: all 0.2s ease;
  min-height: 230px;
  display: flex;
  flex-direction: column;
  height: auto;
}
@media (hover: hover) {
  .slide-testimonials:hover {
    border-color: #f53838;
  }
}
@media (max-width: 1022px) {
  .slide-testimonials {
    padding: 20px;
  }
}
.slide-testimonials__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 1022px) {
  .slide-testimonials__header {
    margin-bottom: 10px;
  }
}
.slide-testimonials__icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}
@media (max-width: 1022px) {
  .slide-testimonials__icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }
}
.slide-testimonials__icon img {
  width: 100%;
  height: 100%;
}
.slide-testimonials__title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.slide-testimonials__name {
  line-height: 1;
  font-size: 18px;
  font-weight: 500;
  color: #0d1025;
}
@media (max-width: 1022px) {
  .slide-testimonials__name {
    font-size: 14px;
  }
}
.slide-testimonials__place {
  line-height: 1;
  font-size: 12px;
}
.slide-testimonials__star {
  margin-left: auto;
  position: relative;
  padding-right: 27px;
}
.slide-testimonials__star:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 16px;
  height: 16px;
  background-image: url(../img/testimonials/star.svg);
}
@media (max-width: 1022px) {
  .slide-testimonials__text {
    font-size: 14px;
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------SUBSCRIBE---------------------------------------------
-------------------------------------------------------------------------------------------*/
.subcribe {
  background-color: #f8f8f8;
  padding: 0 15px;
}
.subcribe__container {
  padding: 50px 70px !important;
  min-height: 233px;
  background-color: #fff;
  box-shadow: 16px 0px 20px rgba(13, 16, 37, 0.06);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-50%);
}
@media (max-width: 1170px) {
  .subcribe__container {
    padding: 40px 45px !important;
    min-height: 160px;
  }
}
@media (max-width: 1022px) {
  .subcribe__container {
    padding: 30px 35px !important;
  }
}
@media (max-width: 798px) {
  .subcribe__container {
    padding: 20px 30px !important;
  }
}
@media (max-width: 606px) {
  .subcribe__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
}
.subcribe__texts {
  flex: 0 1 35.9649122807%;
}
@media (max-width: 1022px) {
  .subcribe__texts {
    flex: 0 1 40%;
  }
}
@media (max-width: 798px) {
  .subcribe__texts {
    flex: 0 1 50%;
  }
}
.subcribe__title {
  text-align: left;
  margin-bottom: 20px;
}
@media (max-width: 1170px) {
  .subcribe__title {
    font-size: 30px;
    margin-bottom: 15px;
  }
}
@media (max-width: 1022px) {
  .subcribe__title {
    font-size: 24px;
  }
}
@media (max-width: 798px) {
  .subcribe__title {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
@media (max-width: 606px) {
  .subcribe__title {
    margin-bottom: 5px;
  }
}
.subcribe__subtitle {
  text-align: left;
}
@media (max-width: 1022px) {
  .subcribe__subtitle {
    font-size: 14px;
  }
}
@media (max-width: 798px) {
  .subcribe__subtitle {
    font-size: 12px;
  }
}
/*-------------------------------------------------------------------------------------------
-----------------------------------------FOOTER---------------------------------------------
-------------------------------------------------------------------------------------------*/
.footer {
  background-color: #f8f8f8;
  padding-bottom: 100px;
  margin-top: -20px;
}
@media (max-width: 798px) {
  .footer {
    padding-bottom: 60px;
  }
}
.footer__container {
  display: flex;
}
@media (max-width: 798px) {
  .footer__container {
    flex-direction: column;
    gap: 0px;
  }
}
.footer__block-1 {
  flex: 0 1 50%;
}
.footer__block-2 {
  flex: 0 1 50%;
}
.footer__copyright {
  display: none;
  margin-top: 30px;
}
@media (max-width: 798px) {
  .footer__copyright {
    display: block !important;
  }
}

.block-1-footer {
  display: flex;
  flex-direction: column;
  padding-right: 20.1754385965%;
}
@media (max-width: 798px) {
  .block-1-footer {
    padding-right: 0;
  }
}
.block-1-footer {
  margin-bottom: 20px;
}
.block-1-footer__logo path:nth-child(2) {
  fill: white;
}
@media (hover: hover) {
  .block-1-footer__logo:hover path:nth-child(2) {
    fill: #ddd;
  }
}
.block-1-footer__logo {
  width: 150px;
  display: flex;
  align-items: center;
}
.block-1-footer__logo svg {
  width: 100%;
}
@media (max-width: 1022px) {
  .block-1-footer__logo {
    width: 130px;
  }
}
@media (max-width: 798px) {
  .block-1-footer__logo {
    margin-bottom: 40px;
    width: 150px;
  }
}
.block-1-footer__logo path {
  transition: all 0.2s ease;
}
.block-1-footer__logo path:nth-child(2) {
  fill: #f53838;
}
@media (min-width: 992px) and (hover: hover) {
  .block-1-footer__logo:hover path:nth-child(2) {
    fill: #c10421;
  }
  .block-1-footer__logo:hover path:nth-child(1) {
    transform: translateX(-4px);
  }
}
.block-1-footer__text {
  margin-bottom: 30px;
}
@media (max-width: 798px) {
  .block-1-footer__text {
    margin-bottom: 20px;
  }
}
.block-1-footer__text span {
  font-weight: 500;
}
.block-1-footer__icons {
  display: flex;
  margin-left: -17px;
}
.block-1-footer__icon {
  transition: all 0.2s ease;
  width: 70px;
  height: 70px;
}
.block-1-footer__icon svg {
  width: 100%;
}
.block-1-footer__icon:not(:first-child) {
  margin-left: -15px;
}
@media (hover: hover) {
  .block-1-footer__icon:hover {
    opacity: 0.7;
  }
}
.block-1-footer__copyright {
  color: #afb5c0;
}
.block-1-footer__copyright span {
  font-weight: 500;
}
@media (max-width: 798px) {
  .block-1-footer__copyright {
    display: none;
  }
}

.block-2-footer {
  display: flex;
  gap: 120px;
}
@media (max-width: 1170px) {
  .block-2-footer {
    gap: 100px;
  }
}
@media (max-width: 798px) {
  .block-2-footer {
    gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.block-2-footer__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.block-2-footer__title {
  font-weight: 500;
  font-size: 18px;
  color: #0d1025;
}
.block-2-footer__list li:not(:last-child) {
  margin-bottom: 10px;
}
.block-2-footer__link {
  transition: all 0.2s ease;
  color: #4f5665;
}
@media (hover: hover) {
  .block-2-footer__link:hover {
    color: #0d1025;
  }
}