/*-------------------------------------------------------------------------------------------
------------------------------------------ЦВЕТА----------------------------------------------
-------------------------------------------------------------------------------------------*/

$mainColor: #4f5665;

/*-------------------------------------------------------------------------------------------
------------------------------------------ШРИФТЫ---------------------------------------------
-------------------------------------------------------------------------------------------*/

$mainFont: "Rubik", sans-serif;

/*-------------------------------------------------------------------------------------------
-----------------------------------------ПЕРЕМЕННЫЕ------------------------------------------
-------------------------------------------------------------------------------------------*/

$xxl: 1400px;
$xl: 1140px;
$lg: 992px;
$md: 768px;
$sm: 576px;

/*-------------------------------------------------------------------------------------------
-----------------------------------СТАНДАРТНЫЕ НАСТРОЙКИ-------------------------------------
-------------------------------------------------------------------------------------------*/
html,
body {
  height: 100%;
}

.body {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16 * 100%);
  color: $mainColor;
  @media (max-width: ($xl + 30)) {
  }
  @media (max-width: ($lg + 30)) {
    font-size: 14px;
  }
  @media (max-width: ($md + 30)) {
  }
  &._lock {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

div[class*="__container"] {
  max-width: $xl + 30px;
  margin: 0 auto;
  padding: 0px 15px;
  @media (max-width: ($xl + 30px)) {
    max-width: $lg + 30px;
  }
  @media (max-width: ($lg + 30px)) {
    max-width: $md + 30px;
  }
  @media (max-width: ($md + 30px)) {
    max-width: $sm + 30px;
  }
  @media (max-width: ($sm + 30px)) {
    max-width: none;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px #f53855 solid;
  border-radius: 50px;
  background-color: #fff;
  transition: all 0.2s ease;
  font-weight: 500;
  color: #f53855 !important;
  @media (min-width: $md) {
    @media (hover: hover) {
      &:hover {
        background-color: #f53838;
        color: #fff !important;
      }
    }
  }
}

.button-rectangular {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px #f53855 solid;
  border-radius: 10px;
  background-color: #f53855;
  transition: all 0.2s ease;
  font-weight: 700;
  color: #fff;
  padding: 10px 20px;
  min-width: 250px;
  height: 60px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 212px;
    filter: blur(30px);
    height: 76px;
    background-color: rgba($color: #f53855, $alpha: 0.35);
    top: 8px;
    left: auto;
    right: auto;
    transition: all 0.3s ease;
    @media (max-width: ($lg + 30)) {
      width: 180px;
      height: 60px;
      filter: blur(20px);
    }
    @media (max-width: ($sm + 30)) {
      width: 150px;
      height: 55px;
      filter: blur(20px);
    }
  }
  @media (hover: hover) {
    &:hover {
      background-color: #fff;
      color: #f53855;
      &::after {
        top: 0;
      }
    }
  }
  @media (max-width: ($lg + 30)) {
    min-width: 200px;
    height: 50px;
  }
}

.title {
  font-size: 35px;
  color: #0d1025;
  line-height: calc(50 / 35 * 100%);
  font-weight: 500;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  @media (max-width: ($lg + 30)) {
    font-size: 28px;
  }
  @media (max-width: ($md + 30)) {
    font-size: 22px;
  }
}

.subtitle {
  margin: auto;
  text-align: center;
  max-width: 500px;
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------HEADER---------------------------------------------
-------------------------------------------------------------------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition:
    all 0.2s ease,
    transform 0.5s ease;

  &._hide {
    transform: translateY(-100%);
  }
  &._scroll {
    background-color: rgba($color: #c10421, $alpha: 0.9);
    .menu__link {
      color: #eee;
      @media (hover: hover) {
        &:hover {
          color: #ccc;
        }
      }
    }
    @media (hover: hover) {
      .header__button:hover {
        color: #ffffff;
      }
    }

    .header__button.button {
      color: #c10421 !important;
      border-color: #eee !important;
      background-color: #eee !important;
      @media (hover: hover) {
        &:hover {
          background-color: #c1042028 !important;
          color: #eee !important;
        }
      }
    }
    .header__logo {
      path:nth-child(2) {
        fill: white;
      }
      @media (hover: hover) {
        &:hover {
          path:nth-child(2) {
            fill: #ddd;
          }
        }
      }
    }
  }

  &__icon {
    display: none;
    @media (max-width: ($md + 30)) {
      display: block;
      z-index: 5;
      position: absolute;
      right: 20px;
      top: 20px;
      width: 30px;
      height: 18px;
      cursor: pointer;
      &::before,
      &::after,
      span {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s;
        background-color: #c10421;
      }
      &::before,
      &::after {
        content: "";
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      span {
        top: 50%;
        transform: translateY(-50%) scale(1);
      }
      &._active {
        span {
          transform: scale(0);
        }
        &::before {
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
        }
        &::after {
          bottom: 50%;
          transform: translateY(50%) rotate(45deg);
        }
      }
    }
  }
  // .header__container

  &__container {
    min-height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: ($lg + 30)) {
      min-height: 100px;
    }
    @media (max-width: ($md + 30)) {
      min-height: 60px;
    }
  }

  // .header__logo

  &__logo {
    width: 150px;
    display: flex;
    align-items: center;
    svg {
      width: 100%;
    }
    @media (max-width: ($lg + 30)) {
      width: 130px;
    }
    @media (max-width: ($md + 30)) {
      path:nth-child(1) {
        fill: #eee;
      }
      margin-bottom: 40px;
      width: 150px;
    }
    path {
      transition: all 0.2s ease;
    }
    @media (min-width: $lg) {
      @media (hover: hover) {
        &:hover {
          path:nth-child(2) {
            fill: #c10421;
          }
          path:nth-child(1) {
            transform: translateX(-4px);
          }
        }
      }
    }
  }

  // .header__menu

  &__menu {
  }

  // .header__button

  &__buttons {
    align-items: center;
    @media (max-width: ($md + 30)) {
      display: flex;
      align-items: start;
      gap: 0px;

      flex-direction: column;
    }
  }

  &__button {
    font-weight: 500;
    min-width: 150px;
    height: 45px;
    padding: 10px 15px;
    color: $mainColor;
    transition: all 0.3s ease;
    color: #0d1025;
    @media (min-width: $lg) {
      @media (hover: hover) {
        &:hover {
          color: #4f5665;
        }
      }
    }
    @media (max-width: ($lg + 30)) {
      min-width: 110px;
      height: 35px;
      font-size: 14px;
    }
    @media (max-width: ($md + 30)) {
      min-width: 0;
      height: auto;
      color: #eee;
      background-color: transparent;
      padding: 0;
      font-size: 18px;

      &.button {
        border: none;
        padding: 0;
      }
    }
  }
}

.menu {
  // .menu__list

  &__list {
    display: flex;
    align-items: center;
    gap: 40px;
    @media (max-width: ($lg + 30)) {
      gap: 20px;
    }

    @media (max-width: ($md + 30)) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      margin-bottom: 40px;
    }
  }

  // .menu__item

  &__item {
  }

  // .menu__link

  &__link {
    color: #4f5665;
    @media (min-width: ($lg + 30)) {
      @media (hover: hover) {
        &:hover {
          color: #0d1025;
        }
      }

      font-size: 14px;
    }
    @media (max-width: ($md + 30)) {
      font-size: 18px;
      color: #eee;
    }
  }

  @media (max-width: ($md + 30)) {
    max-width: none !important;
    overflow: auto;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 20px 20px 30px !important;
    transition: left 0.3s ease;

    &._active {
      left: 0;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------PREVIEW---------------------------------------------
-------------------------------------------------------------------------------------------*/

.preview {
  // .preview__container
  min-height: max(100vh, 700px);
  @media (max-width: ($xl + 30)) {
    min-height: max(100vh, 600px);
  }
  @media (max-width: ($lg + 30)) {
    min-height: max(100vh, 500px);
  }
  @media (max-width: ($md + 30)) {
    min-height: max(100vh, 750px);
  }

  @media (max-width: 450px) {
    min-height: max(100vh, 650px);
  }
  display: flex;
  align-items: center;
  &__container {
    display: flex;
    gap: 40px;
    align-items: center;
    @media (max-width: ($md + 30)) {
      flex-direction: column-reverse;
    }
  }

  // .preview__body

  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 1 50%;
  }

  // .preview__title

  &__title {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: calc(70 / 50 * 100%);
    color: #0d1025;
    span {
      font-weight: 700;
    }
    @media (max-width: ($xl + 30)) {
      font-size: 42px;
    }
    @media (max-width: ($lg + 30)) {
      font-size: 32px;
      margin-bottom: 10px;
    }
  }

  // .preview__text

  &__text {
    span {
      font-weight: 500;
    }
    color: #4f5665;
    margin-bottom: 50px;
    @media (max-width: ($lg + 30)) {
      margin-bottom: 30px;
    }
  }

  // .preview__button

  &__button {
  }

  // .preview__image

  &__image {
    flex: 0 1 50%;

    svg {
      width: 100%;
    }

    ellipse.ellipse-animation {
      animation: smoothBg 1s infinite alternate;
    }

    @keyframes smoothBg {
      0% {
        fill: #ff7979;
      }
      100% {
        fill: #9effae;
      }
    }

    path.cup-animation {
      animation: steamMove 3s ease-in-out infinite;
    }

    @keyframes steamMove {
      0% {
        opacity: 0;
        transform: translateY(5px);
      }
      20% {
        opacity: 0.8;
        transform: translateY(0px);
      }
      80% {
        opacity: 0.6;
        transform: translateY(-5px);
      }
      100% {
        opacity: 0;
        transform: translateY(0px);
      }
    }
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------STATS---------------------------------------------
-------------------------------------------------------------------------------------------*/

.stats {
  // .stats__container

  &__container {
    border-radius: 10px;
    box-shadow: 0px 15px 30px rgba($color: #0d1025, $alpha: 0.06);
    height: 200px;
    display: flex;
    align-items: center;
    padding: 35px 0;
    @media (max-width: ($lg + 30)) {
      height: 160px;
    }
    @media (max-width: ($md + 30)) {
      height: 120px;
    }
    @media (max-width: ($sm + 30)) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0px;
      height: auto;
      padding: 0px 30px !important;
      width: 90%;
    }
  }

  // .stats__item

  &__item {
    flex: 0 1 33.333%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    &:not(:last-child) {
      border-right: 1px solid #eeeff2;
      @media (max-width: ($sm + 30)) {
        border-right: none;
        border-bottom: 1px solid #eeeff2;
      }
    }
    @media (max-width: ($lg + 30)) {
      gap: 20px;
    }
    @media (max-width: ($md + 30)) {
      gap: 15px;
    }
    @media (max-width: ($sm + 30)) {
      padding: 15px 0;
      width: 100%;
      justify-content: flex-start;
    }
  }

  // .stats__icon

  &__icon {
    width: 55px;
    height: 55px;
    @media (max-width: ($lg + 30)) {
      width: 45px;
      height: 45px;
    }
    @media (max-width: ($md + 30)) {
      width: 35px;
      height: 35px;
    }
    svg {
      width: 100%;
    }
  }

  // .stats__texts

  &__texts {
  }

  // .stats__num

  &__num {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 4.5px;
    color: #0d1025;
    @media (max-width: ($lg + 30)) {
      font-size: 18px;
      margin-bottom: 0;
    }
    @media (max-width: ($md + 30)) {
      font-size: 14px;
      line-height: 1;
      margin-bottom: 5px;
    }
  }

  // .stats__text

  &__text {
    font-size: 20px;
    color: #4f5665;
    @media (max-width: ($lg + 30)) {
      font-size: 14px;
    }
    @media (max-width: ($md + 30)) {
      font-size: 12px;
      line-height: 1;
    }
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------FEATURES---------------------------------------------
-------------------------------------------------------------------------------------------*/

.features {
  // .features__container
  padding: 100px 0 130px;
  @media (max-width: ($md + 30)) {
    padding: 60px 0;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: calc(170 / 1140 * 100%);
    @media (max-width: ($md + 30)) {
      flex-direction: column;
      gap: 40px;
    }
  }

  // .features__image

  &__image {
    flex: 0 1 55%;
    svg {
      width: 100%;
    }
  }

  // .features__body

  &__body {
    flex: 0 1 45%;
  }

  // .features__title

  &__title {
    margin-bottom: 20px;
    text-align: left;
  }

  // .features__text

  &__text {
    margin-bottom: 20px;
  }

  // .features__menu

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  // .features__item

  &__item {
    padding-left: 34px;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 24px;
      height: 24px;
      background-image: url(../img/features/icon.svg);
    }
  }

  &__link {
    font-size: 14px;
    color: $mainColor;
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------PRICING---------------------------------------------
-------------------------------------------------------------------------------------------*/

.pricing {
  // .pricing__container
  padding: 80px 0px 150px;
  background: linear-gradient(#fafafa, #fdfdfd);
  @media (max-width: ($lg + 30)) {
    padding: 60px 0px;
  }

  &__container {
  }

  // .pricing__title

  &__title {
  }

  // .pricing__subtitle

  &__subtitle {
    margin-bottom: 60px;
  }

  // .pricing__body

  &__body {
    display: flex;
    align-items: stretch;
    gap: 50px;
    @media (max-width: ($xxl + 30)) {
      gap: 20px;
    }
    @media (max-width: ($lg + 30)) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.body-pricing {
  // .body-pricing__item

  &__item {
    flex: 0 1 33.333%;
    border-radius: 10px;
    background-color: #fff;
    border: 1px #ddd solid;
    padding: 80px 70px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 760px;
    transition: all 0.2s ease;
    @media (max-width: ($xxl + 30)) {
      padding: 60px 50px 30px;
      min-height: 500px;
    }
    @media (max-width: ($lg + 30)) {
      flex: 0 1 48%;
      padding: 30px;
    }
    @media (max-width: ($md + 30)) {
      flex: 0 1 100%;
      max-width: 400px;
    }
    @media (hover: hover) {
      &:hover {
        border-color: #f53838;
        .body-pricing__button {
          background-color: #f53838 !important;
          color: #fff !important;
          box-shadow: 0px 17px 40px rgba($color: #f53838, $alpha: 0.35);
          @media (hover: hover) {
            &:hover {
              box-shadow: none;
              color: #f53838 !important;
              background-color: #fff !important;
            }
          }
        }
      }
    }
  }

  // .body-pricing__image

  &__image {
    width: 70%;
    svg {
      width: 100%;
    }
    margin-bottom: 30px;
  }

  // .body-pricing__title

  &__title {
    font-size: 18px;
    font-weight: 500;
    color: #0d1025;
    margin-bottom: 30px;
  }

  // .body-pricing__list

  &__list {
    margin-bottom: 20px;
  }

  // .body-pricing__item-list

  &__item-list {
  }

  // .body-pricing__text

  &__text {
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 44px;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 24px;
      height: 24px;
      background-image: url(../img/pricing/icon.svg);
    }
  }

  // .body-pricing__price

  &__price {
    font-size: 25px;
    font-weight: 500;
    color: #0d1025;
    margin-bottom: 20px;
    margin-top: auto;
    span {
      font-weight: 400;
    }
    @media (max-width: ($xxl + 30)) {
      font-size: 22px;
    }
  }

  // .body-pricing__button

  &__button {
    width: 90%;
    height: 45px;
    @media (hover: hover) {
      &:hover {
        box-shadow: 0px 17px 40px rgba($color: #f53838, $alpha: 0.35);
      }
    }
  }
}
.button {
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------NETWORK---------------------------------------------
-------------------------------------------------------------------------------------------*/

.network {
  // .network__container
  background: linear-gradient(#fdfdfd, #fff);
  &__container {
  }

  // .network__title

  &__title {
    max-width: 360px;
  }

  // .network__subtitle

  &__subtitle {
    margin-bottom: min(155px, calc(155 / 1140 * 100vw));
  }

  // .network__image

  &__image {
    width: 100%;
    svg {
      width: 100%;
      circle,
      g {
        transition: all 0.2s ease;
        @media (hover: hover) {
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------PLATFORMS---------------------------------------------
-------------------------------------------------------------------------------------------*/

.platforms {
  // .platforms__container
  padding: 80px 100px;
  @media (max-width: ($md+30)) {
    padding: 30px 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4vw;
  }

  // .platforms__image

  &__image {
    flex: 0 1 20%;
    svg {
      width: 100%;
    }
    g > rect {
      transition: all 0.2s ease;
    }
    &:nth-child(1) {
      g > rect {
        @media (hover: hover) {
          &:hover {
            fill: #e50914;
          }
        }
      }
    }
    &:nth-child(2) {
      g > rect {
        @media (hover: hover) {
          &:hover {
            fill: #ff4500;
          }
        }
      }
    }
    &:nth-child(3) {
      g > rect {
        @media (hover: hover) {
          &:hover {
            fill: #ff9900;
          }
        }
      }
    }
    &:nth-child(4) {
      g > rect {
        @media (hover: hover) {
          &:hover {
            fill: #5865f2;
          }
        }
      }
    }
    &:nth-child(5) {
      g > rect {
        @media (hover: hover) {
          &:hover {
            fill: #1db954;
          }
        }
      }
    }
  }
}
